.root { -fx-background-color: #1A1938; }

.sidebar {
    -fx-background-color: #2D2B52;
    -fx-background-radius: 0 30 30 0;
}

.nav-button, .nav-button-active {
    -fx-background-color: transparent;
    -fx-text-fill: #A09EBC;
    -fx-alignment: center-left;
    -fx-padding: 10 20;
    -fx-font-size: 14;
}

.nav-button-active {
    -fx-background-color: #6C5CE7;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.search-field {
    -fx-background-color: #2D2B52;
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-padding: 12;
    -fx-border-color: #3E3B6E;
    -fx-border-radius: 15;
}

.search-button {
    -fx-background-color: #6C5CE7;
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-padding: 12 20;
    -fx-cursor: hand;
}

.weather-card, .map-container {
    -fx-background-color: #2D2B52;
    -fx-background-radius: 25;
    -fx-padding: 25;
}

.big-temp { -fx-font-size: 80; -fx-text-fill: white; -fx-font-weight: bold; }
.detail-label { -fx-text-fill: #A09EBC; -fx-font-size: 11; -fx-font-weight: bold;}
.detail-value { -fx-text-fill: white; -fx-font-size: 16; -fx-font-weight: bold; }